<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <h1 id="main-heading">
            <i class="fas fa-clipboard-list"></i>
            <%= title %>
        </h1>
        <div id = "app-container">
            <div id="form">
                <form action="/create-card" method="POST">
                    <div id="one">
                        <label for="description">Description</label>
                        <br/>
                        <input type="text" id="description" name="description" placeholder="Enter name" required>
                    </div>
                    <div id="two">
                        <label for="category">Category</label>
                        <br/>
                        <select id="category" name="category" required>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="school">School</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div id="three">
                        <label for="due-date">Due Date</label>
                        <br/>
                        <input type="date" id="due-date" name="due-date" placeholder="dd/mm/yyyy" min="2020-02-28"required>
                    </div>
                    <div id="buttons">
                        <div id="add-task">
                            <button type="submit"><i class="fas fa-plus"></i> &nbsp; ADD TASK</button>
                        </div>
                        <div id="delete-tasks">
                            <button type="button" onclick="deleteContacts()"><i class="fas fa-trash"></i> &nbsp; DELETE TASKS</button>
                        </div>
                    </div>
                </form>
            </div>   
            <div id="cards">
                <ul id="cards-list">
                    <% for(let i of todos){ %>
                        <li>
                            <div class="card" id="<%=i.id %>">
                                <div class="card-selector">
                                    <i class="far fa-square"></i>
                                    <i class="fas fa-check-square hide"></i>
                                </div>
                                <div class="card-details">
                                    <span class="card-title"><%= i.title %></span>
                                    <span class="due-date"><i class="fas fa-calendar-alt"></i>
                                         <%= i.date %></span>
                                </div>
                                <div class="card-category">
                                    <span class="cc-label <%= i.category %>"><%= i.category.toUpperCase() %></span>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div> 
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" 
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>
    </body>
</html>